@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* cursor: none; */
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.blur-backdrop-filter {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
    background: #7129D6;
  }
}

/* .slick-arrow {
  display: none !important;
} */
/* 
.why-us-slider-boxes {
  height: 300px;
} */

/* why us slider responsives */
/* @media (min-width: 400px) {
  .why-us-slider-boxes {
    height: 350px;
  }
}
@media (min-width: 440px) {
  .why-us-slider-boxes {
    height: 370px;
  }
}
@media (min-width: 460px) {
  .why-us-slider-boxes {
    height: 400px;
  }
}
@media (min-width: 500px) {
  .why-us-slider-boxes {
    height: 450px;
  }
}
@media (min-width: 570px) {
  .why-us-slider-boxes {
    height: 500px;
  }
}
@media (min-width: 625px) {
  .why-us-slider-boxes {
    height: 540px;
  }
}
@media (min-width: 640px) {
  .why-us-slider-boxes {
    height: 450px;
  }
}
@media (min-width: 920px) {
  .why-us-slider-boxes {
    height: 480px;
  }
}
@media (min-width: 985px) {
  .why-us-slider-boxes {
    height: 500px;
  }
} */
